# This files is used by git to ignore certain files and folders

# folders
**/db/**
**/incremental_db/**
**/*_tmp/**
**/output_files/**
**/simulation/**
__**

# files
*.bak
*.hex
*.summary
*.log
*.rpt

#  Modelsim files
*.wlf
*.mti
**/work/**
transcript

# Unignore folders
!**/mem_init/**